<mat-toolbar color="primary">
  <div class="logo">
    <h1>Hello Folks</h1>
  </div>

  <div class="actions d-flex">
    <button mat-raised-button routerLink="home" routerLinkActive="active" color="primary" class="medium">
      Home
    </button>
    <button mat-raised-button routerLink="projects" routerLinkActive="active" color="primary" class="medium">
      Projects
    </button>
    <button mat-raised-button routerLink="resume" routerLinkActive="active" color="primary" class="medium">
      Resume
    </button>
  </div>
</mat-toolbar>