
$breakpoints: (
  xsmall: 0,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);

@mixin breakpoint($breakpoint, $size) {
  $screen: map-get(
    $map: $breakpoints,
    $key: $breakpoint,
  );

  @if ($size == up) {
    @media (min-width: $screen) {
      @content;
    }

  } 
  
  @if ($size == down) {
    @media (max-width: $screen) {
      @content;
    }
  }
}
